<header class="banner">
  <ng-container *transloco="let t">
    <h1>{{ t('HOME.TITLE') }}</h1>
  </ng-container>
</header>

<main class="content">
  <ng-container *transloco="let t">
    <p class="lead">{{ t('HOME.DESCRIPTION') }}</p>

    <label class="lang-switch">
      {{ t('HOME.SELECT') }}
      <select
        [value]="activeLang()"
        (change)="switchLang(($any($event.target)).value)"
      >
        @for (lang of languages; track lang) {
          <option [value]="lang">{{ lang }}</option>
        }
      </select>
    </label>
  </ng-container>
</main>
